<% provide(:title, 'Create new building') %>
<h1>Create new building</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([@landlord, @building]) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create new building", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>  
