<% provide(:title, @building.address) %>
<div class="row">
  <aside class="span4">
    <section>
    <h1><%= @building.address %>, <%= @building.zip_code %></h1>
      <p><%= @building.description %></p>
    </section>
  </aside>
</div>  
