<% provide(:title, @landlord.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @landlord.name %></h1>
      <p><%= @landlord.email %> <%= @landlord.phone %></p>
    </section>
  </aside>
</div>  
